<div class="banner" [ngStyle]="{ 'background': 'url(' + topTrendingBGUrl + ')'}">
    <div class="container-banner">
  
      <h3 class="banner-title">{{ bannerTitle }}</h3>
      <p class="banner-description col-md-6">{{ bannerOverview }}</p>
      <div class="banner-buttons">
        
        <button class="play-button">
          <fa-icon class="icons" [icon]="faPlay"></fa-icon>
          <span>Assistir</span>
        </button>
        
        <button class="more-button">
          <fa-icon class="icons" [icon]="faInfoCircle"></fa-icon>
          <span>Mais informações</span>
        </button>
        
      </div>
    </div>
  </div>