<div class="banner">
    <div class="container-banner">
  
      <h3 class="banner-title">Homem-Aranha: Sem Volta Para Casa</h3>
      <p class="banner-description col-md-6">
          Peter Parker é desmascarado e não consegue mais separar sua vida normal dos grandes 
          riscos de ser um super-herói. Quando ele pede ajuda ao Doutor Estranho, os riscos se 
          tornam ainda mais perigosos, e o forçam a descobrir o que realmente significa ser
           o Homem-Aranha.
      </p>
      <div class="banner-buttons">
        
        <button class="play-button">
          <fa-icon class="icons" [icon]="faPlay"></fa-icon>
          <span>Assistir</span>
        </button>
        
        <button class="more-button">
          <fa-icon class="icons" [icon]="faInfoCircle"></fa-icon>
          <span>Mais informações</span>
        </button>
        
      </div>
    </div>
  </div>