/* You can add global styles to this file, and also import other style files */
$theme-colors: (

);

$custom-colors: (
  "black": rgb(20, 20, 20),
  "black_opac": rgba(20, 20, 20, 0.300),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #141414;
}