/* You can add global styles to this file, and also import other style files */
$theme-colors: (

);

$custom-colors: (
  "black": rgb(20, 20, 20)
);

$theme-colors: map-merge($theme-colors, $custom-colors);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    // background: #141414;
    background: url("https://image.tmdb.org/t/p/original/wPU78OPN4BYEgWYdXyg0phMee64.jpg");
    background-size: cover;
}